<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XYFrameWork.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>13B140DC1CC8FACE00777889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>13B140F81CC8FACF00777889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>13B141031CC8FACF00777889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
